In [1]:
# importing Libraries
import numpy as np 
import pandas as pd
!conda install -c conda-forge geocoder --yes 
import geocoder as gd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==2019.07=py37_0
  - defaults/win-64::numba==0.44.1=py37hf9181ef_0
done

## Package Plan ##

  environment location: C:\Users\Neha Agarwal\Anaconda3

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    tbb-2020.1                 |       he980bc4_0         167 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         167 KB

The following NEW packages will be INSTALLED:

  tbb                conda-forge/win-64::tbb-2020.1-he980bc4_0



Downloading and Extracting Packages

tbb-2020.1           | 167 KB    |            |   0%
tbb-2020.1           | 167 KB    | 9          |  10%
tbb-2020.1           | 167 KB    | ######6    |  67%
tbb-2020.1           | 167 KB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [20]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') # Reading data from Wikipedia link.
file=df[0] # Extracting table fron dataframe

In [25]:
file.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [26]:
file.describe()

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M2P  Not assigned  Not assigned
freq             1            77            77

In [27]:
file.replace('Not assigned',np.nan,inplace=True) # Replacing Not assigned value with NaN

In [28]:
file.describe()

       Postal Code     Borough Neighbourhood
count          180         103           103
unique         180          10            99
top            M2P  North York     Downsview
freq             1          24             4

In [29]:
# simply drop whole row with NaN in "Borough" and "Neighborhood" column
file.dropna(subset=["Borough","Neighbourhood"], axis=0, inplace=True)

In [30]:
file.describe()

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M8V  North York     Downsview
freq             1          24             4

In [31]:
file.shape

(103, 3)

# Tried but didnt get any co-ordinates
file["Latitude"] = ""
file["Longitude"] = ""
file.head()
for i,row in file.iterrows():
    lat_lng_coords = None # initialize your variable to None
    print(i)
    while(lat_lng_coords is None):  # loop until you get the coordinates
        g = gd.google('{}, {}, {}'.format(file.at[i,"Postal Code"],file.at[i,"Borough"],file.at[i,"Neighbourhood"]))
        print(g.latlng)
        lat_lng_coords = g.latlng
    file.at[i,"Latitude"] = lat_lng_coords[0]
    file.at[i,"Longitude"] = lat_lng_coords[1]
file.head()

In [35]:
df1=pd.read_csv("https://cocl.us/Geospatial_data")
df1.head()
file_cord=pd.merge(file,df1,on='Postal Code',how='inner')

In [36]:
file_cord.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494