In [7]:
# importing Libraries
import numpy as np 
import pandas as pd

In [21]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') # Reading data from Wikipedia link.
file=df[0] # Extracting table fron dataframe

In [22]:
file.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [23]:
file.describe()

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M9P  Not assigned  Not assigned
freq             1            77            77

In [24]:
file.replace('Not assigned',np.nan,inplace=True) # Replacing Not assigned value with NaN

In [25]:
file.describe()

       Postal Code     Borough Neighborhood
count          180         103          103
unique         180          10           99
top            M9P  North York    Downsview
freq             1          24            4

In [26]:
# simply drop whole row with NaN in "Borough" and "Neighborhood" column
file.dropna(subset=["Borough","Neighborhood"], axis=0, inplace=True)

In [27]:
file.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           99
top            M9P  North York    Downsview
freq             1          24            4

In [28]:
file.shape

(103, 3)